@model MgebroStore.Models.ActionControllerPair

@{

    string GetPageLink(int pg)
    {
        string page = "Page=" + pg;
        string pagescount = "&PagesCount=" + ViewBag.PagesCount + "&";
        string sr = "&SortOrder=" + ViewBag.SortOrder + "&";

        string qs = ViewBag.QueryString;

        return "/" + Model.Controller + "/" + Model.Action + "?" + page + pagescount + sr + qs;
    }
}
<div class="text-center">
    <ul class="pagination text-center">
        <li class="page-item @if (ViewBag.Page == 1)
        { <text>disabled</text> }">
            <a class="page-link" href="@GetPageLink(ViewBag.Page - 1)">წინა</a>
        </li>
        @for (int i = 1; i <= ViewBag.PagesCount; i++)
        {
            @if (ViewBag.Page == i)
            {
                <li class="page-item active">
                    <a class="page-link" href="#">@ViewBag.Page<span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@GetPageLink(i)">@i</a>
                </li>
            }
        }
        <li class="page-item @if (ViewBag.Page == ViewBag.PagesCount || ViewBag.PagesCount == 0)
        { <text>disabled</text> }">
            <a class="page-link" href="@GetPageLink(ViewBag.Page + 1)">შემდეგი</a>
        </li>
    </ul>
</div>
