@model IEnumerable<MgebroStore.Data.Entities.Sale>

@{
    ViewData["Title"] = "გაყიდვები";
}

<h1>ნუსხა</h1>

<p>
    <a asp-action="Create">დამატება</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a>*@
                    <a asp-action="Details" asp-route-id="@item.ID">დეტალები</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">წაშლა</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("~/Views/Shared/PaginationPartial.cshtml", new ActionControllerPair { Action = "Index", Controller = "Sales" })