@model IEnumerable<MgebroStore.Data.Entities.Consultant>

@{
    ViewData["Title"] = "ნუსხა";
}

<h1>კონსულტანტების ნუსხა</h1>

<p>
    <a asp-action="Create">დამატება</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
                @Html.Partial("~/Views/Shared/SortingPartial.cshtml", new SortingModel { Name = "FirstName" })

            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
                @Html.Partial("~/Views/Shared/SortingPartial.cshtml", new SortingModel { Name = "LastName" })

            </th>
            <th>
                @Html.DisplayNameFor(model => model.PID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
                @Html.Partial("~/Views/Shared/SortingPartial.cshtml", new SortingModel { Name = "Birthdate" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferralName)
                @Html.Partial("~/Views/Shared/SortingPartial.cshtml", new SortingModel { Name = "ReferralName" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferralName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">რედაქტირება</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">დეტალები</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">წაშლა</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("~/Views/Shared/PaginationPartial.cshtml", new ActionControllerPair { Action = "Index", Controller = "Consultants" })

